.places {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: calc(100vw - 400px);
  display: grid;
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}

@media screen and (max-width: 1279px) {
  .places {
    min-width: 824px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: calc(100vw - 200px);
    min-width: 668px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: calc(100vw - 100px);
    min-width: 282px;
  }
}
