.profile__edit-container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .profile__edit-container {
    justify-content: center;
    width: calc(100% - 34px);
    margin-left: 34px;
  }
}
