.card__like {
  margin: 0;
  padding: 0;
  border: 0;
  width: 22px;
  height: 19px;
  background-color: #ffffff;
  background-image: url(../../../vendor/images/like.svg);
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.card__like:hover {
  opacity: 0.5;
}
